<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova.plugin.patternrecognition"
        version="0.0.1a">

  <name>PatternRecognition</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/patternrecognition.js" target="js/patternrecognition.js"/>

  <js-module src="www/patternrecognition.js" name="patternrecognition">
    <clobbers target="patternrecognition" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PatternRecognition">
        <param name="android-package" value="cordova.plugin.patternrecognition"/>
      </feature>
    </config-file>

    <source-file src="src/android/PatternRecognition.java" target-dir="src/br/univates/plugin/"/>
  </platform>

</plugin>
